* {
  background-color: black;
  color: white;
  font-size: 18px;
  margin: 30px 25px;
}

div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

button {
  font-size: 14px;
  margin: 15px 5px;
}

#clock {
  margin: 50px 25px;
}

#currentTime {
  font-size: 50px;
  padding-bottom: 25px
}
